/*.panel{*/
    /*border-radius: 0px;*/
    /*box-shadow: 2px 2px 2px #888888;*/
    /*border-color: #eadede;*/
/*}*/

#cadastro-servico, #cadastro-tarefa{
    margin-left: 16px;
    margin-right: 16px;
}

.tituloCadastro{
    border-bottom: 1px solid #3c3c3c;
    color: #3c3c3c;
}